.container { 
    display: flex;
    margin-top: 30px;
    gap: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 0px 10px 0px 10px;
}

.input-box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

:host ::ng-deep .p-button {
  margin-top: 10px;
}