h3 {
    margin-top: 1em;
    margin-bottom: 0px;
}
.container {
    display: flex;
    padding: 10px 30px 10px 30px;
    margin: 20px 0px 20px 0px;
    border-radius: 10px;
    gap: 20px;
    border: solid 1px rgb(200, 200, 200);

    background-color: rgb(255, 255, 255);
}

.image {
    display: flex;
    flex: 1;
    justify-content: center; /* Centers horizontally */
    align-items: center;    /* Centers vertically */
}

.text {
    flex: 3;
    padding: 10px;
}

#price-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
}

i {
    margin-bottom: 10px;
}