.container {
    display: flex;
    padding: 0px 100px 0px 100px;
    margin: 30px 40px 0px 40px;
    gap: 20px;
    
}

.main{
    flex: 3;
    margin: 0px 20px 10px 20px;
    gap: 10px;

}

.sidebar {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}